* {
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  width: 0;
}

.card-container {
  scroll-snap-type: x mandatory;
}

.card-scroll {
}

.card-item {
  scroll-snap-align: none center;
}
